<%- include('../port/layout-start', {title: title}) %>
<%- include('../port/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Profile page</h1>
    </div>
</div>
<div class="container mt-3">
  <p><b>Имя пользователя: </b> <%= user.name %></p>
  <div class="form-group text-right ">
    <a href="/api/user/logout" class="btn btn-primary" id="logout">Выйти</a>
  </div>
</div>

<%- include('../port/layout-end') %>